* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  #logo{
      height: 50px;
      padding-right: 10px;
      margin-bottom: 20px;
      border-right: 1px solid lightgray;
  }
  
footer {
    background-color: #8801fe;
    height: 50px;
    margin-top: 20px;
  }

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
  
nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 5px;
}

  .hero-section {
    background-color: #e1d67a;
    height: 400px;
    margin-bottom: 20px;
  }

  .container2 {
    background-color: #0086ff;
    padding-bottom: 20px;
  }

  .container2-top {
    background-color: #abcfe7;
    height: 90px;
    margin-bottom: 20px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .col{
     background-color: #abcfe7;
     height: 400px;
     width: 25%;
     float: left;
 }
  
  
  .col-center {
    width: calc(50% - 40px);
    margin: 0 20px;
  }
  
  
  
  
  
  
  